# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [1]:
# Import the necessary libraries and CSVs. Make some dataframes!

import pandas as pd
import matplotlib 
import matplotlib.pyplot as plt
import numpy as np

data_Balt = pd.read_csv("dataset/baltimore_9-24-2016_9-30-2017.csv")
data_Bost = pd.read_csv("dataset/boston_9-24-2016_9-30-2017.csv")
data_NY = pd.read_csv("dataset/new-york_9-24-2016_9-30-2017.csv")
data_Phil = pd.read_csv("dataset/philadelphia_9-24-2016_9-30-2017.csv")

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [2]:
# Clean your data here!

for col in data_Balt.columns:
    pct_missing_Balt = np.mean(data_Balt[col].isnull())
    print('{} - {}%'.format(col, (pct_missing_Balt*100)))

Commodity Name - 0.0%
City Name - 0.0%
Type - 100.0%
Package - 0.0%
Variety - 1.3071895424836601%
Sub Variety - 83.66013071895425%
Grade - 100.0%
Date - 0.0%
Low Price - 0.0%
High Price - 0.0%
Mostly Low - 0.0%
Mostly High - 0.0%
Origin - 3.2679738562091507%
Origin District - 100.0%
Item Size - 16.33986928104575%
Color - 79.73856209150327%
Environment - 100.0%
Unit of Sale - 84.31372549019608%
Quality - 100.0%
Condition - 100.0%
Appearance - 100.0%
Storage - 100.0%
Crop - 100.0%
Repack - 0.0%
Trans Mode - 100.0%

In [3]:
data_Balt = data_Balt.drop(['Type', 'Sub Variety', 'Grade', 'Origin District', 'Item Size', 'Color', 'Environment', 'Unit of Sale', 'Quality', 'Condition', 'Appearance', 'Storage', 'Crop', 'Trans Mode'], axis=1) 

data_Balt.columns

Index(['Commodity Name', 'City Name', 'Package', 'Variety', 'Date',
       'Low Price', 'High Price', 'Mostly Low', 'Mostly High', 'Origin',
       'Repack'],
      dtype='object')

In [4]:
# Clean your data here!

for col in data_Bost.columns:
    pct_missing_Bost = np.mean(data_Bost[col].isnull())
    print('{} - {}%'.format(col, (pct_missing_Bost*100)))

Commodity Name - 0.0%
City Name - 0.0%
Type - 100.0%
Package - 0.0%
Variety - 0.0%
Sub Variety - 92.04545454545455%
Grade - 100.0%
Date - 0.0%
Low Price - 0.0%
High Price - 0.0%
Mostly Low - 0.0%
Mostly High - 0.0%
Origin - 0.0%
Origin District - 81.25%
Item Size - 1.1363636363636365%
Color - 13.636363636363635%
Environment - 100.0%
Unit of Sale - 86.93181818181817%
Quality - 100.0%
Condition - 100.0%
Appearance - 100.0%
Storage - 100.0%
Crop - 100.0%
Repack - 0.0%
Trans Mode - 100.0%

In [5]:
data_Bost = data_Bost.drop(['Type', 'Sub Variety', 'Grade', 'Origin District', 'Color', 'Environment', 'Unit of Sale', 'Quality', 'Condition', 'Appearance', 'Storage', 'Crop', 'Trans Mode'], axis=1) 

data_Bost.columns

Index(['Commodity Name', 'City Name', 'Package', 'Variety', 'Date',
       'Low Price', 'High Price', 'Mostly Low', 'Mostly High', 'Origin',
       'Item Size', 'Repack'],
      dtype='object')

In [6]:
# Clean your data here!

for col in data_NY.columns:
    pct_missing_NY = np.mean(data_NY[col].isnull())
    print('{} - {}%'.format(col, (pct_missing_NY*100)))

Commodity Name - 0.0%
City Name - 0.0%
Type - 100.0%
Package - 0.0%
Variety - 0.0%
Sub Variety - 83.92857142857143%
Grade - 100.0%
Date - 0.0%
Low Price - 0.0%
High Price - 0.0%
Mostly Low - 0.0%
Mostly High - 0.0%
Origin - 0.0%
Origin District - 86.60714285714286%
Item Size - 7.142857142857142%
Color - 81.25%
Environment - 100.0%
Unit of Sale - 77.67857142857143%
Quality - 100.0%
Condition - 100.0%
Appearance - 100.0%
Storage - 100.0%
Crop - 100.0%
Repack - 0.0%
Trans Mode - 100.0%

In [7]:
data_NY = data_NY.drop(['Type', 'Sub Variety', 'Grade', 'Origin District', 'Color', 'Environment', 'Unit of Sale', 'Quality', 'Condition', 'Appearance', 'Storage', 'Crop', 'Trans Mode'], axis=1) 

data_NY.columns

Index(['Commodity Name', 'City Name', 'Package', 'Variety', 'Date',
       'Low Price', 'High Price', 'Mostly Low', 'Mostly High', 'Origin',
       'Item Size', 'Repack'],
      dtype='object')

In [8]:
# Clean your data here!

for col in data_Phil.columns:
    pct_missing_Phil = np.mean(data_Phil[col].isnull())
    print('{} - {}%'.format(col, (pct_missing_Phil*100)))

Commodity Name - 0.0%
City Name - 0.0%
Type - 100.0%
Package - 0.0%
Variety - 0.0%
Sub Variety - 78.94736842105263%
Grade - 100.0%
Date - 0.0%
Low Price - 0.0%
High Price - 0.0%
Mostly Low - 0.0%
Mostly High - 0.0%
Origin - 0.0%
Origin District - 100.0%
Item Size - 21.052631578947366%
Color - 100.0%
Environment - 100.0%
Unit of Sale - 80.7017543859649%
Quality - 100.0%
Condition - 100.0%
Appearance - 100.0%
Storage - 100.0%
Crop - 100.0%
Repack - 0.0%
Trans Mode - 100.0%

In [9]:
data_Phil = data_Phil.drop(['Type', 'Sub Variety', 'Grade', 'Origin District', 'Item Size', 'Color', 'Environment', 'Unit of Sale', 'Quality', 'Condition', 'Appearance', 'Storage', 'Crop', 'Trans Mode'], axis=1) 

data_Phil.columns

Index(['Commodity Name', 'City Name', 'Package', 'Variety', 'Date',
       'Low Price', 'High Price', 'Mostly Low', 'Mostly High', 'Origin',
       'Repack'],
      dtype='object')

In [11]:
data_Balt.shape

(153, 11)

In [12]:
data_Bost.shape

(352, 12)

In [ ]:
Commodity Name', 'City Name', 'Package', 'Variety', 'Date',
       'Low Price', 'High Price', 'Mostly Low', 'Mostly High', 'Origin',
       'Item Size', 'Repack'],
      dtype='object')
Bost
Commodity Name', 'City Name', 'Package', 'Variety', 'Date',
       'Low Price', 'High Price', 'Mostly Low', 'Mostly High', 'Origin',
       'Item Size', 'Repack'],

In [15]:
data_Bost = data_Bost.drop(['Item Size'], axis = 1)
data_Bost.shape

(352, 11)

In [16]:
data_NY = data_NY.drop(['Item Size'], axis = 1)
data_NY.shape

(112, 11)

In [13]:
data_NY.shape

(112, 12)

In [14]:
data_Phil.shape

(57, 11)

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [17]:
# Combine the four dataframes into one!

data_all = pd.concat([data_Balt, data_Bost, data_NY, data_Phil])
data_all.shape

(674, 11)

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [18]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
package_group = data_all.groupby('Package')
agg_func_dict = {'Low Price': ['mean']}
package_group.agg(agg_func_dict)

                       Low Price
                            mean
Package
1 1/9 bushel cartons   15.875000
1 1/9 bushel crates    16.058824
1/2 bushel cartons     16.030928
24 inch bins          188.005618
36 inch bins          170.458861
50 lb sacks            25.111111
bushel cartons         20.571429
each                   75.000000

In [19]:
agg_func_dict = {'High Price': ['mean']}
package_group.agg(agg_func_dict)

                      High Price
                            mean
Package
1 1/9 bushel cartons   16.739583
1 1/9 bushel crates    16.705882
1/2 bushel cartons     17.597938
24 inch bins          202.808989
36 inch bins          196.550633
50 lb sacks            25.333333
bushel cartons         22.857143
each                   80.000000

In [ ]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.

variety_group = data_all.groupby('Variety')

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [ ]:
# Try the bonus mission if you have time!